{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td class="text-start">{{ stock.symbol }}</td>
                    <td class="text-start">{{ stock.total_shares }}</td>
                    <td class="text-end">{{ stock.price | usd }}</td>
                    <td class="text-end">{{ stock.value | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="text-end" colspan="3">Cash</td>
                <td class="text-end">{{ cash | usd }}</td>
            </tr>
            <tr>
                <td class="text-end" colspan="3">TOTAL</td>
                <td class="text-end"><strong>{{ total_value | usd }}</strong></td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
